@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.pageHeader {
  border-bottom: 1px solid colors.$gray-20;
}

.pageHeaderActions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: layout.$spacing-05;
}
.providerBannerInfoSlot {
  display: flex;
  align-items: center;
  gap: layout.$spacing-05;
}
.addImagingOrderButton {
  margin-bottom: layout.$spacing-03;
}
