@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.container {
  border-bottom: 1px solid colors.$gray-20;
}


.providerBannerInfoSlot {
  display: flex;
  align-items: center;
  gap: layout.$spacing-05;
}

svg.iconOverrides {
  width: 72 !important;
  height: 72 !important;
  fill: var(--brand-03);
}

.svgContainer svg {
  width: 72px;
  height: 72px;
  fill: var(--brand-03);
  margin-right: 1rem;
}
