@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.datePickerWrapper {
  display: flex;
  min-width: max-content;
  align-items: center;

  p {
    @include type.type-style('body-compact-01');
    color: colors.$cool-gray-70;
    margin-right: layout.$spacing-03;
  }

  div {
    background-color: colors.$white;
  }
}

.dateRangePicker {
  flex-grow: unset;

  input {
    background-color: transparent;
  }
}
