@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.formContainer {
  margin: layout.$spacing-05;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: colors.$white;
}

.desktop {
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.formStackControl {
  row-gap: layout.$layout-01;
}
