@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

.rejectOrders {
  &:hover {
    background-color: colors.$red-70-hover;
    color: colors.$white;
  }
}

.single-line-display {
  white-space: nowrap;
}
