@use '@carbon/layout';
@use '@carbon/colors';

.dataTable {
  display: flex;
  flex-direction: column;
  border: 1px solid colors.$gray-20;
  margin-right: layout.$spacing-05;
  margin-left: layout.$spacing-05;

  & > section {
    position: relative;
    margin-bottom: layout.$spacing-01;
  }
}

.widgetCard {
  background-color: colors.$white;
  border: 1px solid colors.$gray-20;
  margin-right: layout.$spacing-05;
  margin-left: layout.$spacing-05;
  margin-top: layout.$spacing-05;
}

.dataTableContainer {
  display: flex;
  flex-direction: column;
}

.filtersContainer {
  display: flex;
  justify-content: space-between;
  margin: layout.$spacing-03 layout.$spacing-05 layout.$spacing-02 layout.$spacing-05;
  column-gap: layout.$spacing-05;

}
